/* Estilos gerais do corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #000; /* Fundo preto para o jogo */
}

/* Estilos para o cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #222;
    color: #fff;
}

#status-bars {
    display: flex;
    flex-direction: column;
}

.bar {
    margin-bottom: 5px;
}

#mini-map {
    width: 150px;
    height: 150px;
    background-color: #333;
    border: 2px solid #fff;
}

/* Estilo para o canvas do jogo */
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    width: 90%;
    height: 80%;
    background-color: #111; /* Fundo preto para o canvas */
}

/* Estilos para o rodapé */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #222;
    color: #fff;
}

#experience-bar {
    width: 70%;
    background-color: #333;
    border: 1px solid #fff;
    padding: 5px;
    text-align: center;
}

#functions {
    display: flex;
}

.function-icon {
    margin: 0 5px;
    cursor: pointer;
    padding: 5px;
    background-color: #333;
    border: 1px solid #fff;
}

.function-icon:hover {
    background-color: #555;
}
