/* Define o estilo para o canvas */
canvas {
    display: block;  /* Remove espaço em branco ao redor do canvas */
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
    width: 100%;
    height: 100vh;  /* Ocupa a altura total da janela */
}
