/* Estiliza o cabeçalho, conteúdo e rodapé */
.cabecalho {
    background-color: #264653;
    color: white;
    padding: 20px;
    text-align: center;
}

.conteudo {
    background-color: #e9c46a;
    padding: 20px;
    text-align: center;
}

.rodape {
    background-color: #2a9d8f;
    color: white;
    padding: 10px;
    text-align: center;
}
