/* Define o estilo do corpo da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #70c5ce;
    flex-direction: column;
}

/* Estilo do canvas onde o jogo será desenhado */
#gameCanvas {
    border: 2px solid #000;
}

/* Estilo do placar */
#score, #lives {
    font-size: 24px;
    color: #fff;
    margin: 10px;
}

/* Estilo dos ícones do pássaro e dos canos */
.bird, .pipe {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 50%;
}

.pipe {
    background-color: green;
    width: 30px;
    height: 200px;
}
