/* Estilos gerais do corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #000; /* Fundo preto para o jogo */
}

/* Estilos para o cabeçalho */
header {
    background-color: #222;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Estilo geral do contêiner UI */
#ui {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* Estilos individuais para cada seção do UI */
#lives, #score, #power-ups {
    margin: 0 15px;
}

/* Estilos para a barra de vida */
#health-bar {
    background-color: #555;
    width: 200px;
    height: 20px;
    border: 1px solid #fff;
    margin: 0 15px;
}

#current-health {
    background-color: #ff0000;
    width: 100%;
    height: 100%;
}

/* Estilo para o canvas do jogo */
#gameCanvas {
    flex-grow: 1;
    background-color: #111; /* Fundo preto para o canvas */
}
