/* Define o estilo do canvas para ocupar toda a tela */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

canvas {
    border: 1px solid white;
}
