/* Estilos gerais do corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #000; /* Fundo preto para o jogo */
}

/* Estilos para o cabeçalho */
header {
    background-color: #222;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Estilo geral do contêiner UI */
#ui {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* Estilos individuais para cada seção do UI */
#laps, #speed, #time, #position, #fuel {
    margin: 0 10px;
}

/* Estilo para o canvas do jogo */
#gameCanvas {
    flex-grow: 1;
    background-color: #111; /* Fundo preto para o canvas */
}
